img {
    
    width:auto;
    max-height:200px;
}

.section {display:block; border: 2px solid black;}
.section-header {display:block;width:100%;height:20px;background:black;color:white;}
.section-content {padding:5px;}

@-ms-viewport{
    width: device-width;
}


#top {
    top:0;
    left:0;
    height:80%;
    min-height: 120px;
}


.update {
    font-family: 'Courier New', Courier, monospace;
    display:block;
    border: 2px solid black;
    width:100%;
}

.update-header {display:block;width:100%;height:20px;background:black;color:white;}
.update-content {padding:5px;}

#title-section{
    font-family: 'Fredoka One', cursive;
}

.footer {
    font-family: 'Courier New', Courier, monospace;
    position:fixed;
    display:block;
    width:100%;
    bottom:0px;
    left:0px;
}

h1 {
    font-size:50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    padding: 2%;
}

li a {
    display: block;
}

.color-primary {
    background-color: #C4DEEF;
}

.color-2 {
    background-color: #4D372A;
}

.color-3 {
    background-color: #5E555A;
}

.color-4 {
    background-color: #807273;
}

.color-accent {
    background-color: #FE521A;
}

.color-blank {
    background-color: #FEFEFE;
}